<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('users')">👤 Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('sales')">💰 Ventas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('products')">📦 Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('customers')">👥 Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('employees')">🧑‍💼 Empleados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('categories')">🏷️ Categorías</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" (click)="toggleSection('regions')">🗺️ Regiones</a>
  </li>
<li class="nav-item">
  <a class="nav-link text-white" (click)="toggleSection('powerbi')">📈 Power BI</a>
</li>
  <li class="nav-item mt-4">
    <button class="btn btn-danger w-100" (click)="logout()">Cerrar sesión</button>
  </li>
</ul>
