<div class="container mt-4" *ngIf="mostrarTabla">
  <h2 class="text-center mb-4 text-white">Ventas registradas</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Monto</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td>{{ sale.id }}</td>
        <td>{{ sale.customerId }}</td>
        <td>{{ sale.totalAmount }}</td>
        <td>{{ sale.saleDate | date: 'yyyy-MM-dd' }}</td>
      </tr>
    </tbody>
  </table>
</div>
